.uploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px dashed #e5e7eb;
    /* gray-200 */
    border-radius: 0.75rem;
    margin: 2rem;
    background: white;
}

.uploadButton {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.uploadButton:hover {
    background-color: var(--primary-hover);
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: crosshair;
    background-color: #f3f4f6;
    /* gray-100 */
}

.canvas {
    display: block;
}